# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build Folders
[Bb]in/
[Oo]bj/

# NuGet
packages/
*.nupkg

# Rider
.idea/

# VS Code
.vscode/

# Logs
*.log

# Other
*.vsix

# Dotnet
project.lock.json
project.fragment.lock.json

# Ignore local secrets
secrets.json
appsettings.Development.json

# Ignore publish output
publish/

# Node
node_modules/

# macOS
.DS_Store

# Windows
Thumbs.db
